.vscode
cppcheck.log
3ds/build/
3ds/out/
3ds/assets/romfs/gfx/
3ds/assets/romfs/cheats/
3ds/assets/romfs/fonts/
3ds/assets/romfs/scripts/
switch/build/
switch/out/
switch/romfs/cheats/
switch/romfs/scripts/
.vscode/
.idea
.DS_Store
switch/romfs/shaders/
tools/chlink/chlink
tools/chlink/chlink.exe
tools/chlink/dist/
__pycache__
